.AppBar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 50px;
  border-bottom: 1px solid #6c757d;
  padding: 10px;

  font-size: large;
}

.link {
  margin-right: 20px;
  /* text-decoration: none;
  font-size: large;
  color: black;
  margin-right: 15px;
  background-color: white;
  border-radius: 2px; */
}

/* .AppBar {
  text-align: center;
  background-color: #282c34;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.link {
  font-size: large;
  color: white;
  text-decoration: none;
  align-items: center;
  margin-right: 50px;
}

.activeStyle {
  color: teal;
} */
