.link {
  display: inline-block;
  text-decoration: none;
  padding: 12;
  font-weight: 700;
  color: black;
  background-color: white;
  border-radius: 2px;
  margin-left: 10px;
}

.activeStyle {
  color: grey;
}

.App {
  text-align: center;
  background-color: #282c34;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 5px;
}
